In [1]:
import pandas as pd

### Multi-line header - problem 13

In [2]:
gHosp_df = pd.read_csv('../government_hospitals.csv',  header=[0,1])
gHosp_df.head()

,States/UTs,Rural hospitals,Unnamed: 2_level_0,Urban hospitals,Unnamed: 4_level_0,As on
,Unnamed: 0_level_1,No.,Beds,No.,Beds,Unnamed: 5_level_1
0,Andhra Pradesh,193,6480,65,16658,01.01.2017
1,Arunachal Pradesh*,208,2136,10,268,31.12.2017
2,Assam,1176,10944,50,6198,31.12.2017
3,Bihar,930,6083,103,5936,31.12.2016
4,Chhattisgarh,169,5070,45,4342,01.01.2016

In [3]:
gHosp_df.columns

MultiIndex([(        'States/UTs', 'Unnamed: 0_level_1'),
            (   'Rural hospitals',                'No.'),
            ('Unnamed: 2_level_0',               'Beds'),
            (   'Urban hospitals',                'No.'),
            ('Unnamed: 4_level_0',               'Beds'),
            (             'As on', 'Unnamed: 5_level_1')],
           )

In [10]:
gHosp_df.columns = ['State/UT', 'Rural_Government_Hospitals', 'Rural_Government_Beds', 
                    'Urban_Government_Hospitals', 'Urban_Government_Beds', 'Last_Updated']
gHosp_df.head()

,State/UT,Rural_Government_Hospitals,Rural_Government_Beds,Urban_Government_Hospitals,Urban_Government_Beds,Last_Updated
0,Andhra Pradesh,193,6480,65,16658,01.01.2017
1,Arunachal Pradesh*,208,2136,10,268,31.12.2017
2,Assam,1176,10944,50,6198,31.12.2017
3,Bihar,930,6083,103,5936,31.12.2016
4,Chhattisgarh,169,5070,45,4342,01.01.2016

### Data update and code reuse - problem 14

In [11]:
gHosp_df['Last_Updated'] = pd.to_datetime(gHosp_df['Last_Updated'], format='%d.%m.%Y')
gHosp_df['Last_Updated'] = gHosp_df['Last_Updated'].dt.strftime('%Y-%m-%d')#fromatstringtime
gHosp_df.head()

,State/UT,Rural_Government_Hospitals,Rural_Government_Beds,Urban_Government_Hospitals,Urban_Government_Beds,Last_Updated
0,Andhra Pradesh,193,6480,65,16658,2017-01-01
1,Arunachal Pradesh*,208,2136,10,268,2017-12-31
2,Assam,1176,10944,50,6198,2017-12-31
3,Bihar,930,6083,103,5936,2016-12-31
4,Chhattisgarh,169,5070,45,4342,2016-01-01

In [15]:
def format_states(df):
    name_correction = {"puducherry": "pondicherry", "nct of delhi": "delhi", "odisha": "orissa"}
    
    df["State/UT"]=df["State/UT"].str.lower()
    df["State/UT"]=df["State/UT"].replace(name_correction)
    df["State/UT"]=df["State/UT"].str.title()
    df['State/UT'] = df['State/UT'].str.replace('&', 'and').str.rstrip('*')
    return df

In [18]:
gHosp_df = format_states(gHosp_df)
gHosp_df.head()

,State/UT,Rural_Government_Hospitals,Rural_Government_Beds,Urban_Government_Hospitals,Urban_Government_Beds,Last_Updated
0,Andhra Pradesh,193,6480,65,16658,2017-01-01
1,Arunachal Pradesh,208,2136,10,268,2017-12-31
2,Assam,1176,10944,50,6198,2017-12-31
3,Bihar,930,6083,103,5936,2016-12-31
4,Chhattisgarh,169,5070,45,4342,2016-01-01

In [19]:
gHosp_df.to_csv('../cleandata/government_hospital.csv', index=False)

### Government healthcare facility disparity - problem 15

*From the previous analysis it has been found that the states *['Bihar', 'Jharkhand', 'Uttar Pradesh']* has the least number of hospitals(all) wrt its population*

In [20]:
gHosp_df['Total_gHospitals'] = gHosp_df['Rural_Government_Hospitals'] + gHosp_df['Urban_Government_Hospitals']
gHosp_df.head()

,State/UT,Rural_Government_Hospitals,Rural_Government_Beds,Urban_Government_Hospitals,Urban_Government_Beds,Last_Updated,Total_gHospitals
0,Andhra Pradesh,193,6480,65,16658,2017-01-01,258
1,Arunachal Pradesh,208,2136,10,268,2017-12-31,218
2,Assam,1176,10944,50,6198,2017-12-31,1226
3,Bihar,930,6083,103,5936,2016-12-31,1033
4,Chhattisgarh,169,5070,45,4342,2016-01-01,214

In [35]:
st_with_least_hosp = ['Bihar', 'Jharkhand', 'Uttar Pradesh']
st_with_least_gHosp_df = gHosp_df[gHosp_df['State/UT'].isin(st_with_least_hosp)].sort_values(by='Total_gHospitals').head(1)
st_with_least_gHosp = st_with_least_gHosp_df.iloc[0]['State/UT']
print(f'The state with the least number of govt hospitals among {st_with_least_hosp} is {st_with_least_gHosp}.')

The state with the least number of govt hospitals among ['Bihar', 'Jharkhand', 'Uttar Pradesh'] is Jharkhand.