## Housing-Redundant data  - project 9

In [2]:
import pandas as pd
import numpy as np

In [3]:
red_cen = pd.read_csv('../cleandata/census_clean.csv', usecols = ['State/UT', 'District', 'Households_Rural', 'Households_Urban'])
red_cen.head()

            State/UT     District  Households_Rural  Households_Urban
0  Jammu and Kashmir      Kupwara          158438.0           23226.0
1  Jammu and Kashmir       Badgam          160649.0           27190.0
2            Laddakh  Leh(Ladakh)           36920.0           17474.0
3            Laddakh       Kargil           40370.0            7774.0
4  Jammu and Kashmir        Punch          132139.0           15269.0

In [4]:
red_house = pd.read_csv('../cleandata/housing_clean.csv', usecols = ['State/UT', 'District', 'Households_Rural', 'Households_Urban'])
red_house.head()

,State/UT,District,Households_Rural,Households_Urban
0,Andaman and Nicobar Islands,Nicobars,15958,0
1,Andaman and Nicobar Islands,South Andaman,34901,50631
2,Andhra Pradesh,Adilabad,597466,220248
3,Andhra Pradesh,Anantapur,902997,341431
4,Andhra Pradesh,Chittoor,120763,395900

In [5]:
red_merge = red_cen.merge(red_house, on=['State/UT','District'], how='inner')
red_merge.head()

,State/UT,District,Households_Rural_x,Households_Urban_x,Households_Rural_y,Households_Urban_y
0,Jammu and Kashmir,Kupwara,158438.0,23226.0,158438,23226
1,Jammu and Kashmir,Badgam,160649.0,27190.0,160649,27190
2,Laddakh,Leh(Ladakh),36920.0,17474.0,36920,17474
3,Laddakh,Kargil,40370.0,7774.0,40370,7774
4,Jammu and Kashmir,Punch,132139.0,15269.0,132139,15269

In [7]:
(red_merge['Households_Rural_x']-red_merge['Households_Rural_y']).unique()
rural_cond = abs(red_merge['Households_Rural_x']-red_merge['Households_Rural_y'])/red_merge['Households_Rural_x'] >= 0.1
urban_cond = abs(red_merge['Households_Urban_x']-red_merge['Households_Urban_y'])/red_merge['Households_Urban_x'] >= 0.1
red_merge.loc[rural_cond, :]

Empty DataFrame
Columns: [State/UT, District, Households_Rural_x, Households_Urban_x, Households_Rural_y, Households_Urban_y]
Index: []

In [8]:
red_merge.loc[urban_cond, :]

Empty DataFrame
Columns: [State/UT, District, Households_Rural_x, Households_Urban_x, Households_Rural_y, Households_Urban_y]
Index: []